<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!--specify server-->
    <add key="server"           value="DBAgent.Titan.imgo.tv"/>

    <!--specify URL for NodeStatusInit, like /ndas/NodeStatusInit-->
    <!--add key="init"             value="/DBAgentSvr/SvrInit"/-->

    <add key="porttcp"          value="80"/>

    <add key="portudp"          value="8942"/>

    <!--Whether to insert Service Version into Init-->
    <add key="svrversion"  value="1"/>

    <!--Service Type used in Init-->
    <add key="svrtype"  value="10"/>

    <!--specify timezone of where server located at-->
    <add key="zone" value="8"/>

    <add key="logdir" value="/var/log/cdn/Titan/NodeMsgManageSvr"/>

    <!--how to get connections, 0(default) is http, non-0 is from /proc-->
    <add key="des_key" value="D^=^vGfAdUTixobQP$HhsTsa"/>

    <!--how to get connections, 0(default) is http, non-0 is from /proc-->
    <add key="des_iv" value="aVtsvC#S"/>

  </appSettings>
</configuration>
